---
extends: base.j2
default_block: main
title: A Hyde website on GitLab Pages
description: Home page for the BASIC hyde template
---

{% from "macros.j2" import render_excerpt with context %}
<section class="blog_excerpt">
{% set latest = site.content.walk_resources_sorted_by_time()|first %}

{% if latest -%}
{{ render_excerpt(latest, 'post') }}

<a class="button white medium"
    href="{{ content_url(latest.url) }}">Read more&hellip;</a>

{%- endif %}

</section>